################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/.vs/WebApplication1/v17
/WebApplication1/WebApplication1/obj
/WebApplication1/WebApplication1/bin/Debug/net6.0
